Wondering about tzinfo for Until

I've been using the library with success. I am having some issues understanding a bit about the timezone management. But in particular...I am wondering, why [here](https://github.com/boosh/django_recurring/blob/63a2039285ed0a0d0b4d49d3c109cb61bf9888c3/src/recurring/models.py#L258)

On the `_get_rrule_kwargs` function from the `RecurrenceRule` model, the `until` datetime is not being converted to the calendar entry `timezone` like you do in other places, and for other datetimes

No Timezone Handling
```python
if self.until is not None:
    kwargs["until"] = self.until
```

Other places correct (i think) usage
```python
"dtstart": start_date.astimezone(self.event.calendar_entry.timezone.as_tz)
```

Even here on the `to_ical` function
```python
if rule.until is not None:
    rrule_dict["until"] = rule.until.astimezone(tz)
```

So I am wondering if this `until`  [here](https://github.com/boosh/django_recurring/blob/63a2039285ed0a0d0b4d49d3c109cb61bf9888c3/src/recurring/models.py#L258) should be like this?

```python
if self.until is not None:
    kwargs["until"] = self.until.astimezone(event.calendar_entry.timezone.as_tz)
```

Thanks in advance...




Hi thanks for reporting this. Yes it seems like that was an oversight. I'll try to release an update in the next couple of days to make until tz-aware.

> Hi thanks for reporting this. Yes it seems like that was an oversight. I'll try to release an update in the next couple of days to make until tz-aware.

Thanks for the prompt reply! Please, make sure to review other places, cause I know for a fact that at least on the `__str__` function of the `CalendarEntry` model there is this (following code) that I think it should be time aware, specially if Timezone is added on parenthesis afterwards.

```python
            if not event.is_full_day:
                event_str.append(f"at {format_time(event.start_time)}")  // <--- HERE
                if event.end_time:
                    event_str[-1] += f"-{format_time(event.end_time)}"  // <--- HERE

            event_str.append(f"({self.timezone.name})")

            if event.recurrence_rule:
                rule = event.recurrence_rule
                if rule.until:
                    event_str.append(f"until {format_datetime(rule.until)}")   // <--- HERE
```

Hopefully no other places, but those are the ones I encountered!

Thanks so much for this library!

Also.....I have a suggestion maybe you can think of a solution for it. For instance, a way to access `Event.start_time` and `Event.end_time` by default on the `CalendarEntry` timezone....maybe a property, or something, that we can use instead of manually having to convert it at point of use.

Thank you again

I tried using a naive 'until' with a tz-aware dtstart and got an exception telling me `until` needed to be UTC in that case. I've released an update that converts until to UTC, so hopefully that solves this. Thanks

Hi @boosh, thanks for the release, but I think is not quite done yet

I´ll explain...the dtstart is being used tz-aware. per this line on your code, correctly using the TZ from the calendar entry.

```python
"dtstart": start_date.astimezone(self.event.calendar_entry.timezone.as_tz)
```

Now, if you do [this](https://github.com/boosh/django_recurring/commit/59f687be581fa59720a18f343f91fcb56ebe0294#diff-6220648c08d594c0b38dff4892d045b959a63b2e524a1a9b2be6dbed6fe6cbc9R258)

```python
kwargs["until"] = self.until.astimezone(ZoneInfo("UTC"))
```

Is pretty much the same as it was, because in this case, if Django is using `USE_TZ = True` and no specific TIMEZONE in DB connection, the DB stores and pulls datetimes tz-aware in `UTC` ([doc](https://docs.djangoproject.com/en/5.2/ref/settings/#time-zone)). So, unless you are creating manual datetimes that are not tz-aware and creating a rrule manually, whatever `until` I use from the DB is going to be tz-aware.

With that being said....the exception you are referring

> RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware

I think is an oversight/poorly written comment from the dateutil's devs referencing an incomplete/confusing description from the [RFC](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.10). I think by looking at several sources and [at their code](https://github.com/dateutil/dateutil/blob/35ed87a02ad777428a9da84ead4d8425b533d4a9/src/dateutil/rrule.py#L461) that the issue lies and raises that exception if you use a tz-aware DTSTART and naive UNTIL, and vice-versa.

```python
        if self._dtstart and self._until:
            if (self._dtstart.tzinfo is not None) != (self._until.tzinfo is not None):
                # According to RFC5545 Section 3.3.10:
                # https://tools.ietf.org/html/rfc5545#section-3.3.10
                #
                # > If the "DTSTART" property is specified as a date with UTC
                # > time or a date with local time and time zone reference,
                # > then the UNTIL rule part MUST be specified as a date with
                # > UTC time.
                raise ValueError(
                    'RRULE UNTIL values must be specified in UTC when DTSTART '
                    'is timezone-aware'
                )
```

By looking at that code, you can see that what is looking is that both are tz-aware, or both are not tz-aware, is not specifying that needs to be UTC, even if the comment says that. So that's confusing.

Example (This wont work):

```python
from django.utils import timezone
from datetime import datetime
from dateutil.rrule import rrule
from zoneinfo import ZoneInfo

naive = datetime.now()
# datetime.datetime(2025, 5, 2, 9, 46, 55, 494595)
tz_aware_utc= timezone.now()
# datetime.datetime(2025, 5, 2, 12, 47, 17, 448391, tzinfo=datetime.timezone.utc)

foo = rrule(freq=3, dtstart=naive, until=tz_aware_utc)
# ValueError: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware
```

Now, if we make naive aware as UTC, the following works
```python
...
naive_made_tz_aware_utc = naive.replace(tzinfo=ZoneInfo('UTC'))
rrule(freq=3, dtstart=naive_made_tz_aware_utc, until=tz_aware_utc)
# <dateutil.rrule.rrule object at 0x00000261EADC0830>
```

Now, demonstrating the confusing message, if we convert tz_aware_utc to a different timezone it will work, because even if it is not in UTC per the incomplete comment in the dateutil's library and the RFC, both are **tz-aware**.

```python
...
tz_aware_est = tz_aware_utc.astimezone(ZoneInfo('America/New_York'))
rrule(freq=3, dtstart=tz_aware_utc, until=tz_aware_est)
# <dateutil.rrule.rrule object at 0x00000261EADC2690>
```

That also works....

So, going back, I think the code on the library should be like I mentioned previously....

```python
if self.until is not None:
    kwargs["until"] = self.until.astimezone(event.calendar_entry.timezone.as_tz)
```

I hope this explains a little bit my thoughts, hopefully I didn't missed anything. Open to comments...

Again, thank you so much for everything

Hey, thanks. Yes, looking at that code it's not clear what it should be. 

However, there's actually a bigger issue which is self.event doesn't exist now anyway... We'll need to get a timezone from somewhere.

You are welcome

> However, there's actually a bigger issue which is self.event doesn't exist now anyway... We'll need to get a timezone from somewhere.

Hmmm...interesting, now that you mention it, you are right.. .even this line has this issue, potentially `self.event` doesn't exists, because `RecurrenceRule` is a stand-alone model, with the OneToOneField being on the `Event` model. So the `RecurrenceRule` may exists without that reverse relationship. 

```python
"dtstart": start_date.astimezone(self.event.calendar_entry.timezone.as_tz),
```

Is that what you meant?

However, I don't think this `RecurrenceRule` are meant to "live" alone, right?

Bests





Hmm, tbh it's a while since I wrote it so kind of hazy on the details. Yeah, your usecase makes sense. 

Let's change it to what you suggest with some guards:

```
        kwargs: Dict[str, Any] = {
            "freq": self.frequency,
            "interval": self.interval,
            "dtstart": start_date.astimezone(self.event.calendar_entry.timezone.as_tz) if self.event else start_date,
        }

        if self.wkst is not None:
            kwargs["wkst"] = weekday_map[self.get_wkst_display()]
        if self.byweekday:
            kwargs["byweekday"] = [weekday_map[day] for day in self.byweekday]
        if self.count is not None:
            kwargs["count"] = self.count
        if self.until and self.event:
            kwargs["until"] = self.until.astimezone(self.event.calendar_entry.timezone.as_tz)
```

The tests don't explode so I don't think this makes it any worse than it is now...

Sounds fine....just be aware that doing `self.event` on a reverse OneToOne field that is not set will throw an exception
```
recurring.models.RecurrenceRule.event.RelatedObjectDoesNotExist: RecurrenceRule has no event.
```
You may need to do a check with `hasattr` or `getattr(x, 'event', None)` and handle it accordingly.

Also, maybe do the same on the `until` if self.event doesn't exists.

And you are right, it doesn't make it worse, its better!

Thank you very much


Ah thanks. I've pushed 1.3.1, hopefully that fixes your issue. Cheers